.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: #212121;
}

.main-nav p {
  font-size: 3rem;
  font-weight: 500;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  transition: background-color 0.3s;
  color: #cceff0;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #008a91;
}

.section-profile {
  display: flex;
  gap: 6.4rem;
  align-items: center;
}

.section-profile img {
  width: 25%;
  border-radius: 1000px;
}

.section-profile p {
  font-size: 2rem;
  line-height: 1.6;
}

.section-skills {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  text-align: center;
}

.section-skills p {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  margin-top: 1rem;
}

.potential {
  display: grid;
  grid-template-rows: auto 1fr;
}

.skills-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 1.2rem;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.skill-icon p {
  font-size: 1.4rem;
}

.project-box {
  font-size: 2rem;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 2.4rem;
  padding: 5rem 0;
}

.project-box:nth-child(2n + 1) img {
  order: 2;
}

.project-box img {
  max-width: 100%;
  border-radius: 10px;
}

.project-box:nth-child(2) img {
  max-width: 40%;
}

.project-box:nth-child(5) img {
  max-width: 60%;
}

.project-box h3 {
  margin-bottom: 1.6rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.project-links i {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.project-links a:link,
.project-links a:visited {
  background-color: #001c1d;
  padding: 1rem 4rem;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 8px;
  color: #e6f3f4
}

.project-links a:hover,
.project-links a:active {
  color: #008a91;
}

.project-links a:last-child {
  display: flex;
  align-items: center;
}

.contact-box {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.contact-list ion-icon {
  font-size: 4rem;
}

.contact-link {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.contact-link a:link,
.contact-link a:visited {
  text-decoration: none;
  color: #1ab5bc;
  transition: background-color 0.3s;
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.contact-link a:hover,
.contact-link a:active {
  color: #008a91;
}

.contact-form {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-form p {
  font-size: 2.4rem;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 80%;
  padding: 1rem 0;
}

.contact-form input, textarea {
  padding: 1.2rem;
  font-size: 1.6rem;
  border-radius: 8px;
  border: none;
  font-family: inherit;
}

.contact-form textarea {
  resize: none;
}

.contact-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(26, 180, 188, 0.9);
}

.contact-form button {
  border: none;
  background-color: #008a91;
  color: #e6f3f4;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 6.4rem;
  border-radius: 5000px;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: #fff;
  color: #555;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 3.2rem
}