:root {
  --nav: #0F0E0E;
  --text: #72fff4;
  --darktext: #5bccc3;
  --darkbg: #212121;
  --lightbg: #323232;
  --icon: #fff;
  --buttonbg: #5b4faa;
  --buttontext: #e8e6f3;
  --navlink: #9147ff;
  --navhover: #f4edff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text);
  background-color: var(--darkbg);
  font-family: "Heebo", sans-serif;
}

section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 7.8rem 6.4rem;
}

i {
  color: var(--icon);
  font-size: 7rem;
}

h2 {
  font-size: 3.6rem;
}

h1,h2 {
  color: var(--navlink);
}

nav p {
  color: var(--navlink);
}

h3 {
  color: var(--darktext);
}
